body {
  font-family: "Indie Flower", cursive;
  height: 100%;
  background-image: url(https://images.pexels.com/photos/168442/pexels-photo-168442.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}
section {
  display: flex;
  /* background-color: #666666; */
  justify-content: space-around;
  height: 300px;
  padding-top: 40px;
}
.postit {
  width: 350px;
  height: 250px;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 15px 5px #444444;
  transition: 1s;
}
.yellow {
  background: rgb(221, 221, 221);
  background: linear-gradient(0deg, rgba(221, 221, 221, 1) 0%, rgba(250, 251, 201, 1) 20%);
  transform: rotate(356deg);
}
.green {
  background: rgb(221, 221, 221);
  background: linear-gradient(0deg, rgba(221, 221, 221, 1) 0%, rgba(200, 251, 202, 1) 20%);
  transform: rotate(5deg);
}
.purple {
  background: rgb(221, 221, 221);
  background: linear-gradient(0deg, rgba(221, 221, 221, 1) 0%, rgba(199, 199, 245, 1) 20%);
  transform: rotate(350deg);
}
#sec2 {
  padding-top: 0;
}
#sec1 {
  margin-bottom: 0;
}
h2 {
  font-size: 3em;
  font-weight: bold;
}
p {
  font-size: 1.5em;
}

.postit:hover {
  transform: rotate(0);
  transform: scale(1.2);
  z-index: 10;
}
